# Diretórios e arquivos do Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.pot
*.pyc
dist/
build/
venv/
env/
.python-version

# Diretórios e arquivos do Docker
**/docker-compose*.yml
**/Dockerfile
**/.dockerignore
postgres_data/  # Volume do PostgreSQL definido no docker-compose.yml

# Ambiente e variáveis sensíveis
.env
.env.local
secrets/

# IDE e editores de código
.vscode/
.idea/
*.swp
*.swo

# Logs e arquivos temporários
logs/
*.log
tmp/

# Arquivos de banco de dados local (SQLite, se houver)
*.db
*.sqlite